<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <h1>Assignment - 1</h1>
    <title>Weather Data Fetcher</title>
   
</head>
  <body>
    <h2>Fetch Historical Weather Data</h2>
    <form action="/submit" method="post">
        <div>
            <label for="city">City:</label>
            <input type="text" id="city" name="city" required>
        </div>
        <div>
            <label for="date">Date:</label>
            <input type="date" id="date" name="date" required>
        </div><br>
        <div>
            <button type="submit">Submit</button>
        </div>
        <br>
        <a>Click button to process the data </a>
        <br>
        <br>
    </form>
    </body>
</html>

